@import "rm-includes";

* {
	box-sizing: border-box;
}

h2 {
	color: black;
}

.project {

	.this-week {
		margin: 2%;
	}

	.next-week {
		margin: 2%;
	}

	.week-after {
		margin: 2%;
	}
}


.sydney {
	background-color: $thoughtworks-blue;
}
.brisbane {
	background-color: $thoughtworks-mint;
}
.melbourne {
	background-color: yellow;
}
